* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}


body {
    width: 1440px;
    height:auto;
    margin: 0 auto;
    background-color: #F1F1F1;
}

.container {
    width: 1440px;
    height: auto;
    margin: 0 auto;
    position: relative;
}


nav {
    width: 1440px;
    height: 58px;
    padding: 0 20px;
    background-color: #1C181D;
    
    display: flex;
    align-items: center;
    justify-content: space-between;

}


#shopify-logo {
    width: 200px;
    height: 32px;

    background-image:url(https://crushingit.tech/hackathon-assets/shopify-icon-desktop.svg);
    background-repeat: no-repeat;
}

.input-control {
    position: relative;
    width: auto;
    height: auto;
}

#search {
    width: 480px;
    height: 32px;

    outline: none;
    background-color: #322F33;
    border: 1px solid #616161;
    border-radius: 5px;

    text-indent: 30px;
    color: #B5B5B5;
}


#search:hover {
    border: 1px solid #EBEBEB;
}


#search:focus, #search:active {
    border: 2px solid #EBEBEB;
}


#search-logo {
    position: absolute;
    top: 8px;
    left: 10px;

    width: 15px;
    height: 15px;
}
 
#search-logo path {
    fill: #B5B5B5;
}


#search::placeholder {
    text-indent: 30px;
    color: #B5B5B5;
}


.notifications {
    width: 182px;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#notification-bell {
    width:32px;
    height: 32px;
    background-color: #322F33;
    border-radius: 5px;

    display: flex;
    align-items: center;
    justify-content: center;
}

#notification-bell.active{
    background-color: #616161;
}


#bell {
    width: 20px;
    height: 20px;
}


/* notification display tabs */

.notification-display {
    position: absolute;
    top: 72px;
    right: 20px;
}


.notification-bell-tab {
    width: 383px;
    height: 136px;
    background-color: #FFFFFF;
    box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.2);
    border-radius: 15px;
    padding: 20px;
    position: relative;

    display: none;
}

.notification-bell-tab.active {
    display: block;
}


#notification-tab-header, #notification-icons {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#notification-icons {
    width: 56px;
    height: 20px;
}


#notification-check-mark {
    position: relative;
    width: 20px;
    height: 20px;
    border-radius: 3px; 

    
    display: flex;
    align-items: center;
    justify-content: center;

    border: 1px solid #FFFFFF;
}



#notification-check-mark:after {
    content: '';
    position: absolute;
    top: 2px;
    right: 2px;
    width: 12px;
    height: 12px;
    border: 1px solid #616161;
    border-radius: 50%;
}

#notification-check-mark svg {
    width:14px;
    height: 14px;
}

#notification-check-mark svg path {
    fill: #616161;
}


#notification-dash {
    width: 20px;
    height: 20px;
    border-radius: 3px;

    display: flex;
    align-items: center;
    justify-content: center;
    padding: 3px;

}

#notification-dash.active, #notification-check-mark.active{
    border: 1px solid #005BD3;
}

#notification-dash #dash {
    width: 14px;
    height: 14px;
    
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}


#notification-dash #dash div{
    background-color: #616161;
    width: 14px;
    height: 2px;
    border-radius: 3px;
}

#notification-dash #dash div:nth-of-type(2) {
    width: 10px;
    margin-top: 2px;
}

#notification-dash #dash div:nth-of-type(3) {
    width: 6px;
    margin-top: 2px;
}


.notification-info {
    width: 100%;
    height: 68px;
    padding: 15px;
    margin-top: 16px;
    background-color: #F1F1F1;

    text-align: center;
}


/* notification display tabs */











#user-info {
    width: 142px;
    height: 32px;
    background-color: #322F33;
    border-radius: 5px;

    display: flex;
    align-items: center;
    justify-content: space-between;
}

#user-info.active{
    background-color: #616161;
}


@media(max-width:1440px) {

    #user-info:hover, #notification-bell:hover{
        background-color: #616161;
    }
}


#user-info p {
    font-size: 14px;
    text-indent: 5px;
    color: white;
}


#user-logo {
    width: 28px;
    height: 28px;

    color: #656266;
    background-color: #36FBA1;
    border-radius: 5px;
    margin-right: 2px;

    display: flex;
    align-items: center;
    justify-content: center;
}



.user-info-tab {
    width: 320px;
    height: 390px;
    background-color: #FFFFFF;
    box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    padding: 5px 0;

    align-items: center;
    flex-direction: column;

    display: none;
}

.user-info-tab.active {
    display: flex;
}

.user-data {
    width: 308px;
    height: 72px;

    display: flex;
    flex-direction: column;
    align-items: center;
}


#main-data {
    width: 308px;
    height: 36px;
    padding: 5px;

    border-radius: 5px;
    background-color: #F1F1F1;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#main-data div {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#main-data div #user-logo {
    text-indent: 3px;
}

.user-data #main-data p {
    font-size: 15px;
}

.user-data svg path {
    fill:#303030;
}


.user-label {
    width: 308px;
    height: 32px;
    padding: 10px 5px;

    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.user-label p {
    margin-left: 4px;
}



.user-info-tab ul {
    width: 320px;
    padding: 4px 5px;
    list-style: none;
    border: 1px solid #F1F1F1;
    border-left: 0;
    border-right: 0;
}

.user-info-tab ul li {
    padding: 6px;
    margin-bottom: 3px;
    border-radius: 10px;
}

.user-info-tab ul:nth-of-type(2) {
    border: 0;
}


.user-info-tab ul #label:hover {
    background-color: #F1F1F1;
}

#label.active {
    border: 1px solid #005BD3;
}







main {
    display: flex;
    flex-direction: column;
    align-items: center;

    width: 1440px;
    height: auto;
    padding-top: 32px;
}

.trial-period {
    width: 800px;
    height: 58px;
    padding: 10px 20px;

    background-color: #1C181D;
    border-radius: 10px;

    display: flex;
    align-items: center;
    justify-content: space-between;
    color: white;

}

.trial-period.removed {
    transform: translateX(-110vw);
    transition: all 0.3s ease-out;
}

.trial-period div {
    width: 139px;
    height: 32px;

    display: flex;
    align-items: center;
    justify-content: space-between;
}


#desktop-btn {
    width: 99px;
    height: 28px;
    border-radius: 5px;

    border: 0;
    background-color: #F1F1F1; 
}

#mobile-btn {
    display: none;
}

#remove-trial {
    width: 20px;
    height: 20px;
}

.trial-period p {
    color:#FFFFFF;
}


.setup-guide {
    width:800px;
    height: auto;
    padding: 20px;
    margin-top: 16px;
    border-radius: 10px;
    background-color: #FFFFFF;
    box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.1);
}

#setup {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#setup div h1 {
    margin-bottom: 5px;
}


#setup .arrow {
    width: 20px;
    height: 20px;

    background-image: url(https://crushingit.tech/hackathon-assets/icon-arrow-down.svg);
    background-repeat: no-repeat;
}

#setup .arrow.active {
    background-image: url(https://crushingit.tech/hackathon-assets/icon-arrow-up.svg);
    background-repeat: no-repeat;
}



#progress-tab {
    width: 168px;
    height: 16px;
    margin-top: 15px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#progress-bar {
    width: 72px;
    height: 4px;
    border-radius: 5px;
    background-color: #F1F1F1;
}

#progress-indicator {
    width:0;
    height: 4px;
    background-color: #1C181D;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}


#setup-details {
    width: 100%;
    height: auto;
    margin-top: 20px;

    display: none;
    visibility: hidden;
    opacity: 0;
}

#setup-details.active {
    display: block;
    visibility: visible;
    opacity: 1;
    transform: all 0.3s ease-in-out;
}

.setup {
    padding: 10px 0 0;

    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
}


.setup div {
    position: relative;
}

.setup div:not(:last-of-type) {
    margin-bottom: 10px;
}


#details-header {
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

#check-bar {
    width: 25px;
    height: 25px;
    margin-right: 5px;
    position: relative;
}

#check-bar #loader {
    display: none;
    animation: anim1 0.5s infinite;

    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
}

#check-bar svg {
    width: 25px;
    height: 25px;
}




@keyframes anim1 {
    from {
        transform: rotate(0);
        opacity: 0;
    }

    to {
        transform: rotate(360deg);
        opacity: 1;
    }
}


#check-bar.active {
    background-image: url(https://crushingit.tech/hackathon-assets/icon-checkmark-circle.svg);
    background-repeat: no-repeat;
    background-size: contain;
}



#details {
    width: 100%;
    height: auto;

    display: flex;
    align-items: flex-start;
    justify-content: space-between;

    display: none;
}

#dts {
    width: 100%;
    padding: 15px;
}


#dts.active {
    display: block;
    background-color: #F1F1F1;
    border-radius: 5px;
}

#dts.active #details {
    display: flex;
}



#dts-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start; 
}

#dts-container a {
    text-decoration: none;
    color: #005BD3;
    margin-top: 5px;
}

#dts-container button {
    width: 150px;
    height: 30px;
    margin-top: 20px;
    background-color: #1C181D;
    color: #FFFFFF;
    border-radius: 5px;
    border: 0;
    outline: none;
}


.image {
    width: 200px;
    height: 100px;
    background-color: red;

    position:absolute;
    top: 0px;
    right: 0px;
}

















@media (max-width:390px) {
    
    body,.container {
        width: 390px;
    }


    nav {
        width: 390px;
        height: 58px;
        padding: 0 15px;
    }


    #shopify-logo {
        width: 32px;
        height: 32px;
        background-image: url(https://crushingit.tech/hackathon-assets/shopify-icon.svg);
    }

    #search {
        width: 238px;
        height: 32px;
    }

    .input-control::after {
        content:'';
        position: absolute;
        top: 5px;
        left: 10px;
    }
    
    #search::placeholder {
        text-indent: 35px;
    }

    .notifications {
        width: 72px;
        height: auto;
    }


    #user-info {
        width: 32px;
        height: 32px;
    }


    #user-info.active{
        height: 34px;
        border: 1px solid #616161;
    }


    #user-info p {
        font-size: 14px;
        text-indent: 5px;
        color: white;
        display: none;
    }


    #user-logo {
        width: 32px;
        height: 32px;
        margin-right: 0px;
    }




    
    /* notification display tabs */

    .notification-display {
        top: 72px;
        right: 15px;
        z-index: 100;
    }

    .notification-bell-tab {
        width: 358px;
        height: 136px;
    }

    /* notification display tabs */


    main {
        width: 390px;
    }
    
    .trial-period {
        width: 100%;
        height: 104px;
        padding: 12px 8px 12px 16px;

        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: space-between;
    
        border-radius: 0px;

        position: relative;
    }


    #remove-trial {
        position: absolute;
        top: 30px;
        right: 10px;
    }
    

    #remove-trial svg path {
        fill: #616161
    }

    
    .trial-period div {
        width: 139px;
        height: 32px;
    }


    #mobile-btn {
        display: block;
        width: 56px;
        height: 28px;
        border-radius: 5px;
        border: 0;
        background-color: #F1F1F1;
    }

    
    #desktop-btn {
        display: none;
    }


    
    .setup-guide {
        width:100%;
        height: auto;
        border-radius: 0px;
        padding: 20px;

        position: relative;
    }
    

    #setup {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    #setup div h1 {
        margin-bottom: 5px;
    }


    #setup .arrow {
        width: 20px;
        height: 20px;

        position: absolute;
        top: 20px;
        right: 30px;
    }


    #progress-tab {
        width: 168px;
        height: 16px;
        margin-top: 15px;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    #progress-bar {
        width: 72px;
        height: 4px;
        border-radius: 5px;
        background-color: #F1F1F1;
    }

    #progress-indicator {
        width:20px;
        height: 4px;
        background-color: #1C181D;
        border-top-left-radius: 5px;
        border-bottom-left-radius: 5px;
    }


    #check-bar {
        margin-right: 15px;
    }
    
    
    #details {
        padding: 15px 25px;
    }

    #dts-container {
        width: 20%;
    }

    #dts-container a {
        margin-top: 10px;
    }
    
    
    .image {
        width: 150px;
        height: 100px;
        background-color: red;
    
        position:absolute;
        top: 20px;
        right: 20px;
    }
    

}